/* land animation */
.land-animation{
    width: 100%;
    height: 100vh;
    background-color: #ececec;
    position: absolute;
    z-index: -1;
}


.anim-img{
    display: flex;
}

.img1{
    color: #875ee6;
    font-size: 13px;
    position: relative;
    top: 100px;
    left: 200px;
    width: 20px;
    animation: 5s star infinite ease-in-out;
}

@keyframes star {
    0%{
        transform: translate(0) rotate(0);
    }
    
    50%{
        transform: translate(130px) rotate(180deg);
    }
    
    100%{
        transform: translate(0px) rotate(0);
    }
}

.settings{
    position: absolute;
    right: 120px;
    top: 700px;
    font-size: 35px;
    animation: rotate 6s infinite ease-in-out;
    color: #d6d6d6;
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    
    50%{
        transform: rotate(250deg);
    }
    
    100%{
        transform: rotate(0);
    }
}

.round{
    position: absolute;
    font-size: 5px;
    top: 500px;
    left: 260px;
    color: #7e7e7e;
    animation: round 10s infinite ;
}

@keyframes round {
    0%{
        transform: rotate(0) translate(0);
    }
    
    50%{
        transform: rotate(250deg) translate(100px);
    }
    
    100%{
        transform: rotate(0) translate(0);
    }
}

/* 
@media (max-width: 768px){
    .main-img{
        width: 350px;
        top: 150px;
        left: 50px;
    }

} */
.animbg{
    overflow: hidden;
    white-space: nowrap;
}
.main-img{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    right: 250px;
    z-index: -1;
}
.main-img img{
    width: 500px;
    animation: 6s imganima infinite ease;
}
@keyframes imganima {
    0%{
        transform: translate(0) rotate(-5deg);
    }
    50%{
        transform: translate(-50px) rotate(5deg);
    }
    100%{
        transform: translate(0) rotate(-5deg);
    }
}


@media (max-width: 1500px){
    .main-img{
        right: 50px;
    }

}
@media (max-width: 1200px){
    .main-img{
        right: 30px;
    }
    .main-img img{
        width: 400px;
    }

}
@media (max-width: 768px){
    .main-img{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        top: 20%;
        right: 0;
    }
    .main-img img{
        width: 300px;
    }

}
@media (max-width: 1500px){
    

}