body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
.landbg{
    width: 100%;
    height: 100vh;
    background-image: url(./Image/backgrund-main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* load animation */

.loder{
    width: 100%;
    height: 100vh;
    background-color: #c71c30;
    position: fixed;
    top: 0;
    z-index: 99;
    transition: opacity 0.5s, visibility 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loder--hide{
    opacity: 0;
    visibility: hidden;
}
.loder-sc{
    width: 50px;
    height: 50px;
    position: relative;
}
.loder-round{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 50px;
    animation: load 1.5s infinite;
    position: absolute;
}
.loder-round2{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    animation: load 1.5s infinite;
    animation-delay: .7s;
    position: absolute;
}


@keyframes load{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(0);
    }
}

/*--------------------- */


/* landing page bg */

.textside{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}
.imgside img{
    display: none;
}
.social-media{
    display: flex;
}
.social-media .round{
    width: 30px;
    height: 30px;
    border: solid #888888 1.5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    cursor: pointer;
}
.round i{
    color: #888888;
    transition: all 0.3s linear;
}
.round i:hover{
    color: #272727;
}

.textside h2{
    font-size: 80px;
    font-weight: 500;
    line-height: 90px;
    color: #e64c59;
    font-family: 'Playfair Display', serif;
}
.textside h2 span{
    font-size: 130px;
    font-weight: 700;
    color: #d02837;
}
.textside p{
    font-size: 40px;
}
.start-btn a{
    font-weight: 400;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    background-color: #d02837;
    padding: 12px 25px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.start-btn a:hover{
    padding-right: 50px;
    background-color: #a00f0f;
}

.bg-2{
    display: flex;
    align-items: center;
    padding: 30px 30px;
}
.lap{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-2-img{
    width: 100%;
}
.section-2{
    padding-left: 15px;
}
.section-2 h1{
    font-size: 50px;
    font-weight: 600;
    color: #27306b;
}
.section-2 p{
    font-size: 17px;
    font-weight: 300;
    line-height: 18px;
}
.dl-btn{
    background-color: #c71c30;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    margin-top: 50px;
}

.logoimgs{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.logoimgs::before{
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 150px;
    height: 100%;
    background: linear-gradient(-90deg, rgba(255,255,255,0), rgba(255,255,255,0), rgb(255, 255, 255));
    z-index: 1;
}
.logoimgs::after{
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 150px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0), rgb(255, 255, 255));
    z-index: 1;
}

.logos{
    margin: 40px 0;
    display: inline-block;
    animation: scroll 12s linear infinite;
}
.logos img{
    width: 130px;
    margin: 0 40px;
}
.logos img:last-child{
    width: 90px;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* landing page bg  end*/

@media (max-width: 990px){
    .social-media .round{
        width: 27px;
        height: 27px;
    }
    .textside h2{
        font-size: 60px;
        font-weight: 500;
        line-height: 70px;
    }
    .textside h2 span{
        font-size: 100px;
        font-weight: 600;
        color: #d02837;
    }
    .textside p{
        font-size: 30px;
    }
    .start-btn a{
        font-weight: 300;
        font-size: 20px;
    }

}

@media (max-width: 768px) {
    .landbg{
        background-image: none;
    }
    .mainbg{
        width: 90%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgside{
        margin-top: 60px;
    }
    
    .textside{
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }
    .imgside img{
        display: block;
        width: 270px;
        z-index: 0;
        margin-top: 20px;
    }

    .social-media .round{
        width: 25px;
        height: 25px;
        border: #888888 solid 1px;
    }
    .round i{
        color: #888888;
        font-size: 14px;
    }
    
    .textside h2{
        font-size: 45px;
        font-weight: 400;
        line-height: 50px;
        margin-top: 5px;
    }
    .textside h2 span{
        font-size: 60px;
        font-weight: 600;
        color: #d02837;
    }
    .textside p{
        font-size: 22px;
        font-weight: 300;
    }
    .start-btn a{
        font-weight: 300;
        text-decoration: none;
        font-size: 20px;
        padding: 8px 20px;
    }

}